<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.inshta">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher11"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher11_round"
        android:supportsRtl="true"
        android:theme="@style/splashscreen"
        tools:targetApi="31">
        <activity
            android:name=".Activities.messages"
            android:exported="false" />
        <activity
            android:name=".Activities.chats"
            android:exported="false" />
        <activity
            android:name=".Activities.view_follower_profile"
            android:exported="false" />
        <activity
            android:name=".Activities.notification_activity"
            android:exported="false" />
        <activity
            android:name=".Activities.upload_post"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.example.inshta.profileView2"
            android:exported="false" />
        <activity
            android:name=".Activities.profileView"
            android:exported="false" />
        <activity
            android:name=".Activities.profileBio"
            android:exported="false"
            android:screenOrientation="locked"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.profileEdit"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.personalInformation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.settings"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.commentsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.SignUp"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.login"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Activities.home"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>